<!DOCTYPE html>
<html lang="es"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{master.html}">
<head>
    <meta charset="UTF-8">
    <title>CineLinx | Administrar combos</title>
    <style>
        .navbar-brand {
            color: inherit;
            text-decoration: none;
        }
    </style>
</head>
<body>

<div layout:fragment="content">
    
    <div class="container-fluid">
        <a class="navbar-brand font-weight-bold" href="/admin">Películas</a>
        <a class="navbar-brand font-weight-bold" href="/admin/combos">Confitería</a>
    </div>


    <div class="text-end">
        <a href="/admin/combos/nuevo" class="btn btn-primary mb-3">
            Nuevo combo
        </a>
    </div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th></th>
            <th>Combo</th>
            <th>Precio</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="combo : ${combos}" th:object="${combo}">
            <td>
                <img th:src="${combo.rutaImagen}" style="width: 135px">
            </td>
            
            <td>
                <div th:text="*{titulo}" class="fs-5 fw-bold"></div>
                <p th:text="*{descripcion}"></p>
                <div>
                    <span class="badge rounded-pill bg-light text-dark me-1"
                          th:each="categoria : *{categorias}"
                          th:text="${categoria.nombre}"></span>
                </div>
            </td>

            <td>
                <p th:text="*{precio}"></p>
            </td>
            
            <td class="text-end">
                <a th:href="@{/admin/combos/{id}/editar(id=*{id})}">Editar</a>
                <a href="javascript:void(0)" class="text-danger ms-3"
                   th:onclick="'eliminarCombo(' + *{id} + ')'">Eliminar</a>
                <form th:id="'eliminarComboForm' + *{id}"
                      th:action="@{/admin/combos/{id}/eliminar(id=*{id})}"
                      method="post"
                      class="d-none"></form>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="row mt-5" th:with="page=${combos}">
        <div class="col-sm-6">
          <div sd:pagination-summary></div>
        </div>
        <div class="col-sm-6">
          <nav>
            <ul class="pagination" sd:pagination="full"></ul>
          </nav>
        </div>
    </div>
</div>

<div layout:fragment="scripts">
    <script>
        function eliminarCombo(id) {
            if (!confirm('¿Está seguro de eliminar este combo?')) {
                return;
            }
            $('#eliminarComboForm' + id).submit();
        }
    </script>
</div>
</body>
</html>