<!DOCTYPE html>
<html lang="es"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{master.html}">
<head>
    <meta charset="UTF-8">
    <title>CineLinx | Peliculas</title>
</head>
<body>

<div layout:fragment="content">
    <h4>Todas las películas</h4>
    <hr>
    <h3>Categorias</h3>
    <div class="container">        
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                Categorías
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li th:field="*{categorias}">
                    <a class="dropdown-item" th:each="categoria : ${categorias}"
                    th:value="${categoria.id}"
                    th:text="${categoria.nombre}"></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 my-5" th:each="pelicula : ${peliculas}"
             th:object="${pelicula}">
            <a th:href="@{/peliculas/{id}(id=*{id})}" class="card shadow-lg"
               style="text-decoration: none;">
                <img th:src="@{/assets/{filename}(filename=*{rutaPortada})}"
                     class="card-img-top"
                     th:alt="*{titulo}">
                <div class="card-body">
                    <h2 class="card-title fs-6" th:text="*{titulo}"></h2>
                    <p th:text="*{#temporals.format(fechaEstreno, 'dd/MM/yyyy')}"
                       class="text-muted small"></p>
                </div>
            </a>
        </div>

        <div class="row mt-5" th:with="page=${peliculas}">
            <div class="col-sm-6">
                <div sd:pagination-summary></div>
            </div>
            <div class="col-sm-6">
                <nav>
                    <ul class="pagination" sd:pagination="full"></ul>
                </nav>
            </div>
        </div>
    </div>
</div>

</body>
</html>